.title {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px #999;
  text-align: center;
  color: #333;
  font-size: 65px;
  margin-top: 10px;
}

body{
  overflow-x: hidden;

}

 .white{
  color:white;
  background-color: white;

  }
.sponsorTable{
  width:100%; display:table; table-layout:fixed;
}

.sponsorTable a{
  border-left-width: 1px;
  border-color: white;
  border-style: solid;
  vertical-align: middle;
}

.sponsorTable a{
 display: table-cell;
    text-align: center;
}

a{
  color:white;
  background-color: deepPink;
  font-family: "Comic Sans MS", cursive, sans-serif;
}



a:hover{
  text-decoration: none;
  color:deepPink;
  background-color: white;
}

.tagline{
/*  font-family: 'Josefin Slab', serif; */
  color: #333;
  font-size: 25px;
  margin-top: -40px;
  color:#333;
  background-color: deepPink;
  line-height: 150%;
}
.date{
 font-size: 20px;
}

.floatingLogo{
  float: left;
  position: fixed;
  
}

#canvas{
  margin-left: 30px;
}

button{
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 2px;
  background-color: deepPink;
  margin: 10px;
  color: white;
  text-shadow: none;
  box-shadow: 1px 0px 1px #BE3077, 0px 1px 1px hotpink, 2px 1px 1px #BE3077, 1px 2px 1px hotpink, 3px 2px 1px #BE3077, 2px 3px 1px hotpink, 4px 3px 1px #BE3077, 3px 4px 1px hotpink, 5px 4px 1px #BE3077, 4px 5px 1px hotpink, 6px 5px 1px #BE3077;
  cursor: pointer;
  display: inline-block;
  margin-top: 11px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0px;
  
  font-weight: normal;
  font-family: "Comic Sans MS", cursive, sans-serif;
  outline: 0px;
  height: 65px;
}

.big{
  font-size: 45px;
}

button:hover {
  background-color: #E21A62;
}

button:active {
    box-shadow: 1px 0px 1px #BE3077, 0px 1px 1px hotpink, 2px 1px 1px #BE3077, 1px 2px 1px hotpink, 3px 2px 1px #BE3077;
    top: 2px;
    left: 3px;
}

.mainText{
  background-color:rgba(255, 255, 255, 0.9);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  text-align: justify;
}

.fBox{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  background-color:rgba(255, 255, 255, 0.9);
  text-align: left;
}

.sectionBg{
  background-color:rgba(0, 240, 0, 0.65);
  font-size: 25px; 
  font-weight: bold;
  line-height: 30px; 
  text-align: center;
}

.floatingLogoImg{
   width: 320px !important;
   position: fixed;
}

.section{
  margin-top: 20px;
}

.container {
  margin-top: 60px !important;
}

.subtitle {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px #999;
  text-align: center;
  position: relative;
  top: -90px;
  right:-80%;
  font-size: 30px;
  color: deepPink;
  width: 200px;
}

@media screen and (max-width: 536) {
  .subtitle {
    top: -150px;
    right:-50%;
  }
}

.rotate {

/* Safari */
-webkit-transform: rotate(40deg);

/* Firefox */
-moz-transform: rotate(40deg);

/* IE */
-ms-transform: rotate(40deg);

/* Opera */
-o-transform: rotate(40deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-2);

}

.container{

	margin-top: 40px ;
}
.mainRow{
	height: 100%;
}

.mainRow.div{
	vertical-align: middle;
}

.linearBg {
  /* fallback */
  background-color: #D51F86;
 
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#D51F86));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #D51F86, #ffffff);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #D51F86, #ffffff);

  /* IE 10 */
  background: -ms-linear-gradient(top, #D51F86, #ffffff);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #D51F86, #ffffff);
}
